#logo{
    padding:20px 10px 5px 5px
}


#logo,
.title{
    vertical-align: middle;
}
.title{
   font-size: 100px;
   font-weight: bold;
  margin: 15px;
  padding: 0px 0px 10px 10px; 
}
main{
    background-color: #b1c4ce;
    padding: 100px 200px;
}
.first{
 padding: 50px;
  background-color: rgb(40, 144, 22);
  margin: 6px;
}
.second{
    padding: 50px;
    background-color: yellow;
    margin:6px;
}
.button1{
    background-color: #47ADF1;
    color: white;
    border-radius:5px;
    padding: 5px;
    margin: 4px;
    border-style:solid ;
    border-color: #47ADF1 ;
}
.button2{
    background-color: #FFFFFF;
    color: grey;
    border-radius: 5px;
    padding: 5px;
    border-style:solid ;
    border-color: grey;
}
.special{
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
h3{
    font-weight: bold;
    font-size: 20px;
}
.quarterly{
    margin: 20px;
    font-weight: 600;
}
.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 23px;
    text-align: center;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-color:green;
    color: green;
    font-weight: bolder;
    font-size: 200;
}
.edit{
    background-color: #47ADF1;
    padding: 5px 10px;
    border-radius: 999px;
    color: white;
}
.false{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 23px;
    text-align: center;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-color:red;
    color: red;
    font-weight: bolder;
    font-size: 200;
}
.q1{ 
     background-color:#9C72E4 ;
    padding: 5px 10px;
    border-radius: 999px;
    color: white;
}
.today{
    padding: 10px;
}
.rec{
    padding: 5px 10px;
    border-radius: 999px;
    background-color: #64C0A9;
    color: white;
}
.mob{
    background-color: #F29E33;
    color: white;
    border-radius: 999px;
    padding: 5px 10px;
}